.messages {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  .container {
    width: 1400px;
    padding: 50px 0px;

    .title {
      display: flex;
      justify-content: space-between;

      button {
        background-color: #1dbf73;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }

    table {
      width: 100%;
      
      tr {
        height: 100px;
        background-color: rgb(251, 251, 251);
        th {
          text-align: left;
          padding: 10px;
          background-color: white;

          &:nth-child(4) {
            width: 10%;
          }
        }

        td {
          padding: 10px;
        
          &:first-child {
            font-weight: 500;
          }

          &:nth-child(2),
          &:nth-child(3) {
            color: gray;

          }

          &:nth-child(4) {
            width: 10%;
          }

          &:nth-child(2):hover {
            color: black;
            // font-weight: 600;
            text-decoration: underline;
          }
        }

        button {
          background-color: #1dbf73;
          color: white;
          padding: 10px;
          border: none;
          cursor: pointer;
        }

        &.active {
          background-color: #1dbf730f !important;
        }
      }
    }
  }
}